* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #000;
  color: #fff;
}

/* Layout */
.app {
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 220px;
  height: 100vh;
  border-right: 1px solid #262626;
  padding: 20px;
}

.logo {
  font-family: cursive;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 12px 0;
  cursor: pointer;
}

/* Main */
.main {
  flex: 1;
  padding: 40px;
}

/* Profile Header */
.profile-header {
  display: flex;
  gap: 60px;
  align-items: center;
  margin-bottom: 30px;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.top-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn {
  background: #262626;
  border: none;
  color: #fff;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.stats {
  display: flex;
  gap: 30px;
  margin: 15px 0;
}

.bio a {
  color: #0095f6;
  text-decoration: none;
}

/* Highlights */
.highlights {
  display: flex;
  gap: 25px;
  margin-bottom: 30px;
  overflow-x: auto;
}

.highlight {
  text-align: center;
  font-size: 12px;
}

.highlight img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 3px;
  background: linear-gradient(45deg, #feda75, #d62976, #962fbf);
}

.highlight p {
  margin-top: 6px;
}

/* Tabs */
.tabs {
  display: flex;
  justify-content: center;
  gap: 500px;
  border-top: 1px solid #262626;
  padding: 15px 0;
  margin-bottom: 20px;
}

.tabs span {
  cursor: pointer;
  opacity: 1;
  color: #fff;
  size: 40px;

}

.tabs .active {
  opacity: 1;
}

/* Posts Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
}

.grid img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
